@import "tailwindcss";
@import "tw-animate-css";


/* Evitar scroll lateral */
html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

/* Firefox */
html, body {
  scrollbar-width: none;
}

/* Chrome/Safari/Edge */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}


/* El contenedor que scrollea (tu main) */
main {
  scrollbar-width: none; /* Firefox */
}

main::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
